/* TailwindCSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure that all elements use the border-box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set html and body to have full width and no horizontal scrolling */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: #14121f; /* Set a default background color to avoid gray background */
    transition: background-color 0.3s ease; /* Smooth transition for background color changes */

}
